
.featured-img {
    background: yellow;
    width: 50%;
    position: relative;
  
    img {
      width: 50rem;
      height: auto;
      display: block;
    }
  
    &:hover {
      &:before {
        bottom: 4rem;
        right: 6rem;
      }
  
      &:after {
        top: 4rem;
        left: 6rem;
      }
    }
  
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: 0.3s ease;
    }
  
    &:before {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAU0lEQVQoU43QMRYAEQwE0ExHyf3vqNxybF6wRIpNZ3whIL74UJDh4zNQpFWTSMOx9y0m0m6FdmDDBnc073QYIQqwweDxa5jR+Zru+gUNCvkPvrgDcCIgJ6cWP4UAAAAASUVORK5CYII=)
        repeat;
      bottom: 2rem;
      right: 2rem;
    }
  
    &:after {
      background: #00fff7;
      top: 2rem;
      left: 2rem;
    }
  }

  